.book {
  display: block;
  margin-top: 16px;
  margin-bottom: 28px;
  background-color: rgb(255, 255, 255);
  z-index: 1;
}

.book__info {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 20px;
}

.book__price {
  margin-top: 5px;
}

.book Button {
  display: block;
  background-color: #18813b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #18813b;
  color: white;
  border-radius: 3px;
  font-size: x-small;
  width: 100%;
}

.book__link {
  text-decoration: none;
}
