.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  margin: 70px;
  border: 1px solid #4caf50;
  border-radius: 5px;
}

.login__register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
  margin: 70px;
  border: 1px solid #4caf50;
  border-radius: 5px;
}
