.registerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  overflow: hidden;
  height: 500px;
}

.registerForm input {
  margin-bottom: 10px;
  width: 100%;
}

span {
  display: block;
  overflow: hidden;
  padding-right: 10px;
}
Button {
  float: right;
}
