.shoppingcart {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.shoppingcart__header {
  border-bottom: 1px solid black;
  padding: 5px;
  margin-bottom: 10px;
  width: 490px;
}
